.About img{
    height: 300px;
    border: 1px solid white;
    border-radius: 20px;   
}

.About span{
    color: red;
    font-size:30px;
    font-family: 'Times New Roman', Times, serif;
}
.About h2{
    color: #3ea9db;
    font-size: 25px;
    font-weight: 500
}
.About h3{
    color: #17436D;
    font-size:30px
}
.About p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}