.add-service{
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: royalblue;
}
.add-service form{
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    align-items: center;
  }
  .btn-submit{
    border-radius: 10px;
    padding: 5px 30px;
    background-color:rgb(255, 0, 221);
    outline: none;
    border: 1px solid rgb(255, 0, 221);
  }
  .add-service form input,textarea{
      width: 40%;
      margin-bottom: 10px;
      border:1px solid white;
      border-radius: 10px;
      outline: none;
  }
 
  